*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    min-width: max-content;
}

#title{
    display: inline-block;
}

#book{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

#studentID{
    font-size: 120%;
    background-color: #C1D3FE;
    margin-top: 5%;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 260%;
    text-align: center;
}

#logout{
    height: 50px;
    width: 60px;
    margin-top: 20%;
}

#Navbox{
    background-color: #DEE2E6;
}

#Nav{
    text-align: center;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    background: #023E8A;
    height: 80%;
    width: 100%;
}

h1{
    text-align: center;
    font-size: xx-large;
    font: 'Monstrerrat', sans-serif;
    margin-top: 25px;
}

li.NavList{
    padding: 2%;
    height: 50px;
    background-color: #E2EAFC;
    border: 1px solid;
}

li.NavList a{
    color: black;
    font-size: large;
}

li.NavList a:hover{
    color: blue;
}

label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
}

ul.title{
    float: left;
    margin-left: 20px;
}

ul.rightul{
    float: right;
    margin-right: 20px;
}

li.rightli{
    display: inline-block;
    line-height: 80%;
    margin: 0 50px;
}

div.sidebar{
    background: #DEE2E6;
    position: fixed;
    width: 10%;
    height: 100%;
    margin-top: 1px;
}

div.sidetitle{
    background-color: #023E8A;
    height: 5%;
}

div.sidetitle p{
    color: white;
    font-size: x-large;
    text-align: center;
    padding-top: 7%;
}

div.mainbody{
    background-color: #DEE2E6;
    width: 80%;
    height: 80vh;
    margin-left: 15%;
}

div.maintitle{
    background-color: #023E8A;
    height: 50px;
    margin-top: 2%;
}

div.maintitle p{
    font-size: xx-large;
    text-align: center;
    color: white;
}

div.NotifBorder{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color: #E2EAFC;
}

h3.NotifTitle{
    background-color: #C1D3FE; 
    font-size: x-large;
    margin: 0; 
    padding: 1%; 
    text-align: center; 
    height: 40%;
}

div.NotifContent{
    height: 100px;
}

a.DashLink{
    color: black;
}

a.DashLink:hover{
    color: blue;
}

div.Divider1{
    margin-top: 4%;
    margin-left: 15%;
    width: 50%;
    float: left;
}

div.Divider2{
    margin-top: 4%;
    width: 30%;
    float: right;
}







